@{
	ViewData["Title"] = "Home page";
}
@* <h2>@ViewData["Header"]</h2>
 *@

	
	<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, My Name Is Soheil PourmohammadReza</h1>
			</header>
			<div class="content">
				<p>
					Im a .Net Developer and DevOps Engineer<br />
					I have about four Years Experience Working in Programming (.Net and DevOps)
				</p>
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">Get Started</a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Main -->
	<div id="main">

		<!-- One -->
		<section id="one" class="tiles">
			<article >
				<span class="image">
					<img src="images/photo_2023-09-12_20-44-18.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/Home/Landing" class="link">.Net</a></h3>
					<p>
						Work as .Net Developer in microservice project (.net 6 and 7) and .net framework 4.8 – Develop
						Integration and unit tests - High accuracy in Performance - Writing optimized codes
					</p>
				</header>
			</article>
			<article >
				<span class="image">
					<img src="images/IMG_20230409_195208.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/Home/Landing" class="link">DevOps</a></h3>
					<p>
					    work as DevOps Engineer with Microsoft Azure in
						Deploying .Net core Microservices Project and .Net Framework Modular Applications .
						Deploy CI-CD pipeline with GitLab to
						Run applications as Containers in the servers . 
						Full Control and dominance to work with Dcoker , Docker Swarm to manage applications and deploy them in containerized format
					</p>
				</header>
			</article>
			<article>
				<span class="image">
					<img src="images/photo_2023-11-01_14-26-10.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/Home/Landing" class="link">Personality</a></h3>
					<p>I have Always Efforts To Study New Technologies And Update My Abilities To always have the best performance of myself, Love Tennis and Football , Traveling and The Galaxy Is My Favorite</p>
				</header>
			</article>
			<article >
				<span class="image">
					<img src="images/photo_2023-11-01_14-32-47.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/Home/Landing" class="link">Sports</a></h3>
					<p>Tennis & Football</p>
				</header>
			</article>
			<article >
				<span class="image">
					<img src="images/photo_2023-11-01_14-30-23.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/Home/Landing" class="link">Tehran</a></h3>
					<p>This is My City amazing !</p>
				</header>
			</article>
			<article >
				<span class="image">
					<img src="images/photo_2023-11-01_14-30-33.jpg" alt="" />
				</span>
				<header class="major">
					<h3><a href="/Home/Landing" class="link">Educations & Certificates</a></h3>
					<p>Feugiat amet tempus</p>
				</header>
			</article>
		</section>

		<!-- Two -->
		<section id="two">
			<div class="inner">
				<header class="major">
					<h2>Massa libero</h2>
				</header>
				<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
				<ul class="actions">
					<li><a href="/home/landing" class="button next">Get Started</a></li>
				</ul>
			</div>
		</section>

	</div>



	@* 	<!-- Footer -->
	<footer id="footer">
	<div class="inner">
	<ul class="icons">
	<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
	<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
	<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
	</ul>
	<ul class="copyright">
	<li>&copy; Untitled</li>
	<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
	</ul>
	</div>
	</footer> *@





@section Scripts{

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>

}