<!-- Wrapper -->

	@* <!-- Header -->
	<!-- Note: The "styleN" class below should match that of the banner element. -->
	<header id="header" class="alt style2">
	<a href="index.html" class="logo"><strong>Forty</strong> <span>by HTML5 UP</span></a>
	<nav>
	<a href="#menu">Menu</a>
	</nav>
	</header>
	*@
	<!-- Menu -->


	<!-- Banner -->
	<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="style2">
		<div class="inner">
			<span class="image">
				<img src="images/pic07.jpg" alt="" />
			</span>
			<header class="major">
				<h1>Net Developer - DevOps - Cloud</h1>
			</header>
			<div class="content">
				<p>
					Lorem ipsum dolor sit amet nullam consequat<br />
					sed veroeros. tempus adipiscing nulla.
				</p>
			</div>
		</div>
	</section>

	<!-- Main -->
	<div id="main">

		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>Developer</h2>
				</header>
				<p>
				I Have about Four Years Experience Working in Programming Web Application in
					Three Difference companies And have Always Efforts To Study New technologies And Update My
					Abilities . I Work as .Net Developer in Microservices applications with (.Net 6 and .Net 7) and Enterprise
					Application in (.Net Framework) .
				</p>
			</div>
		</section>

		<!-- One -->
		<section id="one1">
			<div class="inner">
				<header class="major">
					<h2>DevOps</h2>
				</header>
				<p>
					until now I Prepare Azure DevOps CI – DC Deployment For both enterprise (.net
					framework application) and .Net Core application with microservices architecture in Azure DevOps (from
					0 to 100).
					I have Linux base DevOps project that work with gitlab ,git runner , nginx ... I implemented a DevOps
					Solution for a website that written in Go language through GitLab and Deploy Into Servers as Containers
					and also fix security issues in that project
				</p>
			</div>
		</section>

		<section id="one2">
			<div class="inner">
				<header class="major">
					<h2>Cloud</h2>
				</header>
				<p>
				    Learning Cloud (Microsoft Azure and AWS) . This Is my newest Goal .
					I have experience develop services and deploy them in AWS and Azure .
					and also working with some services of AWS like (ec2 , vpc , S3 , vps , cloud9, code Build , code
					pipeline , code commit , Dynamodb, IAM)
				</p>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="spotlights">
			<section>
				<a href="https://aws.amazon.com/" class="image">
					<img src="images/R.png" alt="" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<h3>My Experiences and Certificates in <p style="color:darkorange"> AWS</p></h3>

						<header class="major">
							<p>DevOps on Aws</p>
							<a style="background-color:darkorange" class="button primary fit small" href="https://coursera.org/share/189a3b04e059de954c3a2c447c2ad9e7">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								AWS Cloud Technical Essentials
							</p>
							<a style="background-color:darkorange" class="button primary fit small" href="https://coursera.org/share/dfd8140784600c76a81d98124708a8bf">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								DevOps on AWS: Release and Deploy
							</p>
							<a style="background-color:darkorange" class="button primary fit small" href="https://coursera.org/share/b20565d76c2a6aa559b94b62501f06b6">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								DevOps on AWS: Operate and Monitor
							</p>
							<a style="background-color:darkorange" class="button primary fit small" href="https://coursera.org/share/69e1e93512a8c16cd4a4e082a24ae97a">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								DevOps on AWS: Code, Build, and Test
							</p>
							<a style="background-color:darkorange" class="button primary fit small" href="https://coursera.org/share/dcd03b1ccbdee39acf1a0aff3e361622">Go to the Certificate</a>

						</header>
					</div>
				</div>
			</section>
			<section>
				<a href="https://azure.microsoft.com/en-us/" class="image">
					<img src="images/Microsoft-Azure.png" alt="" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<h3>My Experiences and Certificates in <p style="color:skyblue"> Azure</p></h3>

						<header class="major">
							<p>Microsoft Azure Fundamentals AZ-900 Exam Prep</p>
							<a style="background-color:skyblue" class="button primary fit small" href="https://coursera.org/share/fb008a266aaf396988f2debed2961d75">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								Microsoft Azure Management Tools and Security Solutions
							</p>
							<a style="background-color:skyblue" class="button primary fit small" href="https://coursera.org/share/9e59b6c5fbc84c235cb150990d333cf6">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								Preparing for the AZ-900 Microsoft Azure Fundamentals Exam
							</p>
							<a style="background-color:skyblue" class="button primary fit small" href="https://coursera.org/share/f7359ab4886d4ab0bb903119d893c3c6">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								Introduction to Microsoft Azure Cloud Services
							</p>
							<a style="background-color:skyblue" class="button primary fit small" href="https://coursera.org/share/9d9360199075e1cff1c93b415d8b361f">Go to the Certificate</a>

						</header>
					</div>
					<div class="inner">
						<header class="major">
							<p>
								Microsoft Azure Services and Lifecycles
							</p>
							<a style="background-color:skyblue" class="button primary fit small" href="https://coursera.org/share/d15c11cc20910f97cbc152e68e5e270b">Go to the Certificate</a>

						</header>
					</div>
				</div>
			</section>
			<section>
				<a href="https://azure.microsoft.com/en-us/" class="image">
					<img src="images/banner_net.png" alt="" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>My Experience in <p style="color:red">.Net</p></h3>
						</header>
						<p>Develop Enterpriese Applications in .Net Framework</p>
						<p>Develop async and sync services in .Net </p>
						<p>Develop Microservices applications with .Net 3, 5, 6, 7</p>
						<p>Use message broker - Grpc - http request - api gateway between microservices applciations</p>
						<p>scaling and load balancing</p>
						<p>work in performance and monitoring services</p>
					
					</div>
					
				</div>
			</section>
			<section>
				<a href="generic.html" class="image">
					<img src="images/what-is-devops.jpg" alt="" data-position="top center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>My Experience in <p style="color:darkblue">DevOps</h3>
						</header>
						<p>Deploy .net Framework Enterprise applications with differncial modules and write the build and release pipeline in azure DevOps for different companies and every compony has its specials modules 0 - 100</p>
						<p>Write Build and Release Pipeline for microservices project in Azur DevOps 0 To 100</p>
						<p>Deploy Published Packages To Different Target Like Kuber - Docker - Azure App Service - GitHub - IIS With Azure DevOps</p>
						<p>Implement CI - CD with gitlab and run pipelines to publish Containerized applications in Linux Servers throught Gitlab</p>
						<p>scaling and load balancing services with docker swarm</p>
						<p>work with DevOps Tools of AWS and Azure</p>
					</div>
				</div>
			</section>
			<section>
				<a href="generic.html" class="image">
					<img src="images/pic10.jpg" alt="" data-position="25% 25%" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Sed nunc ligula</h3>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button">Learn more</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three">
			<div class="inner">
				<header class="major">
					<h2>Massa libero</h2>
				</header>
				<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
				<ul class="actions">
					<li><a href="generic.html" class="button next">Get Started</a></li>
				</ul>
			</div>
		</section>

	</div>

	@*
	<!-- Footer -->
	<footer id="footer">
	<div class="inner">
	<ul class="icons">
	<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
	<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
	<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
	</ul>
	<ul class="copyright">
	<li>&copy; Untitled</li>
	<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
	</ul>
	</div>
	</footer> *@



@section Scripts{

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>

}